<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Halaman Luas</title>
</head>
<body>
<h1>Luas : <span th:text="${jenis}"></span></h1>

<form method="post" th:action="@{/bangunruang/luas}" th:object="${luas}">
    <table border="0">
        <tr>
            <td> Panjang</td>
                <td>:</td>
            <td><input type="text" th:field="*{panjang}"></td>
        </tr>
        <tr>
            <td> Lebar </td>
            <td>:</td>
            <td><input type="text" th:field="*{lebar}"></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Submit Di sini"> </td>
        </tr>
    </table>

</form>
</body>
</html>