<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Halaman Luas</title>
</head>
<body>
<h1>Luas : <span th:text="${jenis}"></span></h1>

    <table border="0">
        <tr>
            <td> Panjang</td>
                <td>:</td>
            <td><span type="text" th:text="${luas.panjang}"></td>
        </tr>
        <tr>
            <td> Lebar </td>
            <td>:</td>
            <td><span type="text" th:text="${luas.lebar}"></td>
        </tr>
        <tr>
            <td> Luas Adalah </td>
            <td>:</td>
            <td><span type="text" th:text="${luas.hitungluas()}"></td>
        </tr>
    </table>

</form>
</body>
</html>