<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List Book</title>
</head>
<body>
    <h1>List Book</h1>
    <a th:href="@{/book/insertbook}"><input type="button" value="Add New Book"></a>


    <fieldset>
        <table>
            <thead>
            <tr>
                <th>Book Name</th>
                <th>Book Author</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Book : ${Books}">
                <td><span th:text="${Book.bookName}"> </span></td>
                <td><span th:text="${Book.bookAuthor}"> </span></td>
                <td>
                    <a th:href="@{/book/editbook/{id}(id=${Book.id})}">Edit</a>
                    <a th:href="@{/book/deletebook/{id}(id=${Book.id})}" onclick="return confirm('Delete this book?)">Delete</a>
                </td>

            </tr>
            </tbody>
        </table>
    </fieldset>
</body>
</html>